{% extends 'base.html' %}
{% block body %}
<div>
  <!-- 배경 -->
  <div>
    <header class="d-flex">
      <!-- 프로필 -->
      <div>
        <!-- 프로필 사진 -->
        <div></div>
        <!-- 고양이 이름표 -->
        <div>{{ cat.name }}</div>
      </div>
      <!-- 스탯창 -->
      <div class="d-flex">
        <!-- 배고픔 행복 -->
        <div>
          <!-- 행복 -->
          <div>{{ cat.happiness }}</div>
          <!-- 배고픔 -->
          <div>{{ cat.energy }}</div>
        </div>
        <!-- 나머지 스탯 -->
        <div>
          <!-- 힘 -->
          <div>{{ cat.strength }}</div>
          <!-- 체지방 -->
          <div>{{ cat.body_fat }}</div>
          <!-- 인기 -->
          <div>{{ cat.popularity }}</div>
        </div>
      </div>
    </header>

    <!-- 돈 -->
    <div>{{ cat.gold }}</div>

    <!-- 메뉴 -->
    <div>
      <!-- 밥 -->
      <div></div>
      <!-- 츄르 -->
      <div></div>
      <!-- 놀아주기 -->
      <div></div>
      <!-- 운동 -->
      <div></div>
    </div>
  </div>

  <!-- footer -->
  <footer>
    <!-- 쇼핑 -->
    <div></div>
    <!-- 미용실 -->
    <div></div>
    <!-- 카메라 -->
    <div></div>
    <!-- 자산 -->
    <div></div>
    <!-- 노가다 -->
    <div></div>
  </footer>
</div>
{% endblock %}