{% extends 'base.html' %}
{% block body %}
<div class="containers">
  <!-- 배경 -->
  <div>
    <header class="d-flex">
      <!-- 프로필 -->
      <div>
        <!-- 프로필 사진 -->
        <div class="profile_img"></div>
        <!-- 고양이 이름표 -->
        <div class="cat_name">{{ cat.name }}</div>
      </div>
      <!-- 스탯창 -->
      <div class="d-flex justify-content-between stats">
        <!-- 배고픔 행복 -->
        <div class="d-flex flex-column justify-content-around">
          <!-- 행복 -->
          {{ cat.happiness }}
          <progress class="d-inline-block happiness progressTag" value="0" max="100"></progress>
          <!-- 배고픔 -->
          <div class="cat_stat">{{ cat.energy }}</div>
          <progress class="d-inline-block energy progressTag" value="0" max="100"></progress>
        </div>
        <!-- 나머지 스탯 -->
        <div class="d-flex flex-column justify-content-between">
          <!-- 힘 -->
          <div class="cat_stat">{{ cat.strength }}</div>
          <progress class="d-inline-block strength progressTag" value="0" max="100"></progress>
          <!-- 체지방 -->
          <div class="cat_stat">{{ cat.body_fat }}</div>
          <progress class="d-inline-block body_fat progressTag" value="0" max="100"></progress>
          <!-- 인기 -->
          <div class="cat_stat">{{ cat.popularity }}</div>
          <progress class="d-inline-block popularity progressTag" value="0" max="100"></progress>
        </div>
      </div>
    </header>

    <!-- 돈 -->
    <div>{{ cat.gold }}</div>

    <!-- 메뉴 -->
    <div>
      <!-- 밥 -->
      <div></div>
      <!-- 츄르 -->
      <div></div>
      <!-- 놀아주기 -->
      <div></div>
      <!-- 운동 -->
      <div></div>
    </div>
  </div>

  <!-- footer -->
  <footer>
    <!-- 쇼핑 -->
    <div></div>
    <!-- 미용실 -->
    <div></div>
    <!-- 카메라 -->
    <div></div>
    <!-- 자산 -->
    <div></div>
    <!-- 노가다 -->
    <div></div>
  </footer>
</div>
<script>
  var progress_list = {
    happiness: "{{ cat.happiness }}",
    energy: "{{ cat.energy }}",
    strength: "{{ cat.strength }}",
    body_fat: "{{ cat.body_fat }}",
    popularity: "{{ cat.popularity }}"
  }
  function tag (pgstatus) {
    let progress = document.querySelector(pgstatus)
    let interval = 1
    let updatesPerSecond = 1000 / 60
    let end = progress.max * progress_list[pgstatus] * 1 / 100

  function animator () {
    progress.value = progress.value + interval
    if ( progress.value + interval < end){
      setTimeout(animator, updatesPerSecond);
    } else { 
      progress.value = end
    }
  }

  setTimeout(() => {
    animator()
  }, updatesPerSecond)
}

for(key in progress_list){
  tag(key)
}
</script>
{% endblock %}