@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@700&display=swap');
* {
  font-family: 'Gaegu', cursive;
}
.containers {
  margin: 0 auto;
  padding: 2vh;
  height: 100vh;
  width: 56.25vh;
  background-color: aliceblue;
}

.profile_img {
  width: 9vh;
  height: 9vh;
  border-radius: 50%;
  background-color: black;
}

.cat_name {
  text-align: center;
  margin-top: 0.7vh;
  font-size: 2vh;
  font-weight: 700;
}

.stats {
  width: 100%;
  background-color: white;
}

.cat_stat {
  width: 100%;
}

.progressTag {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 20vh;
  height: 20px;
  border-radius: 7px;
  color: #ffb7dc;
}
progress::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 8px;
}
progress::-webkit-progress-value {
  background-color: #ffb7dc;
  border-radius: 8px;
}